---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://transpersonal-training.com{{ page.url }}</loc>
    <lastmod>{{ page.date | date('yyyy-MM-dd') }}</lastmod>
    {%- if page.url == "/" %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- elif page.url | startsWith("/blog/") %}
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
